
body{
  background: #B2DFDB!important;
}
.card{
  height: 50px!important;
  width: 115px !important;
  padding: 25px 0 40px !important;
  vertical-align: middle !important;
  font-size: 15px!important;
  font-family: monospace!important;
  color: #353535!important;
  border: 1px solid #d2d2d2!important;
  box-shadow: none !important;
}
.card .pin {
  top: -7px !important;
  background: rgb(46, 128, 233)!important;
  box-shadow: none !important;
}

.card .pin.orange {
  background: rgb(255, 170, 32)!important;
}

/* check solve button */
#checkSolutionBtn{
  background: #b0e4b4!important;
  color: #3b533d!important;
  padding: 21px 23px!important;
  width: 80px!important;
  height: 80px!important;
  box-shadow: 2px 2px 4px 1px #959595!important;
  font-size: 30px!important;
  border: 2px solid #3b533d!important;
  margin: 5px 10px!important;
}
#checkSolutionBtn:hover{
  background: #b0e4b4!important;
  color: #3b533d!important;
  padding: 21px 23px!important;
  width: 80px!important;
  height: 80px!important;
  box-shadow: 2px 2px 4px 1px #959595!important;
  font-size: 30px!important;
  border: 2px solid #3b533d!important;
  margin: 5px 10px!important;
  opacity: 0.5!important;
}

/* meseage */
#AppClientTaskPanel{
  border-radius: 8px !important;
  background-color: #ffffff!important;
  border-top: 9px solid rgb(255, 158, 0)!important;
  border-left: 1px solid #dddd!important;
  border-right: 1px solid #dddd!important;
  border-bottom: 1px solid #dddd!important;
  padding: 25px!important;
  -webkit-box-shadow:none !important;
          box-shadow:none !important;
}
#AppClientTaskPanel p{
  margin: 0 0 15px !important;
  color: #2f2f2f!important;
}
#AppClientTaskPanel div{
  color: #4c4c4c!important;
  text-align: justify!important;
}
#AppClientTaskPanel div button{
  font-size: 120%!important;
  width: 100%!important;
  margin: 25px 0 0!important;
  padding: 5px!important;
  border: none!important;
  color: #fff!important;
  background: rgb(15, 108, 227);
  border-radius: 20px!important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
#AppClientTaskPanel div button:hover{
  opacity: 0.5!important;       
}
